@model IEnumerable<net_mvc_day03_u4.Models.Article>
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Message")) {
    <div>
        @Html.Label("標題");
        @Html.TextBox("Article_title");
        <br/>
        @Html.Label("內容");
        @Html.TextArea("Content");
        <br/>
        <input type="submit" value="送出留言" />
    </div>
}
