
@{
    ViewBag.Title = "PassTempData";
}

<h2>PassTempData</h2>

<li>user:@TempData["UserName"]</li>
<li>user:@TempData["Time"]</li>
<li>user:@TempData["ErrorMessage"]</li>
<!--TempData same controller and other controller-->